.gradle/
build/
*/build/
.idea/
*.iml
local.properties
.DS_Store
.kotlin/
.swiftpm/
.build/
ios-sample/*.xcodeproj/
ios-sample/Sources/Info.plist
ios-compose-sample/*.xcodeproj/
ios-compose-sample/Sources/Info.plist
ios-kmp-sample/*.xcodeproj/
ios-kmp-sample/Sources/Info.plist
ios-native/.xcbuild-dev/
ios-native/.xcbuild-sim/
integrations/*/.xcbuild-device/
mock-server/bin/
integrations/encatch-ios-tester/*.xcodeproj/
integrations/encatch-mac-tester/*.xcodeproj/
integrations/encatch-kmp-tester-ios/*.xcodeproj/
integrations/encatch-compose-tester-ios/*.xcodeproj/
/dist/
